{% extends 'base.html' %}

{% block content %}
<div class="homecontainer">
    <div class="homecontent">
        <div class="hometext-section">
            <h1>HOSPITAL MANAGEMENT SYSTEM</h1>
            <p>Welcome to our hospital management system, We strive to provide efficient and innovative solutions to streamline your healthcare operations</p>
            <button>Join</button>
        </div>
        <div class="image-section">
            <img src="../static/img/homeimagen2.avif" alt="Hospital Image">
        </div>
    </div>
</div>
<div class="homecontainer2">
    <div class="keycontainer">
        <img src="../static/img/keyfeatures.jpg" alt="Keyimage">
        <div class="text-section">
        <h2>Key Features</h2>
        <p>Discover the key features of our hospital management system.</p>
        </div>
    </div>
    <div class="effcontainer">
        <img src="../static/img/efffeatures.jpg" alt="Effimage">
        <div class="text-section">
        <h2>Efficiency</h2>
        <p>Our system is designed to maximize efficiency in healthcare operations.</p>
        </div>
    </div>
    <div class="robcontainer">
        <img src="../static/img/robfeatures.jpg" alt="Robimage">
        <div class="text-section">
        <h2>Robustness</h2>
        <p>Experience the robustness and reliability of our solutions.</p>
        </div>
    </div>
</div>
{% endblock %}