{% extends 'base.html' %}

{% block content %}
<div class="homecontainer">
    <div class="homecontent">
        <div class="hometext-section">
            <h1>HOSPITAL MANAGEMENT SYSTEM</h1>
            <p>Welcome to our hospital management system, We strive to provide efficient and innovative solutions to streamline your healthcare operations</p>
            <button>Join</button>
        </div>
        <div class="image-section">
            <img src="../static/img/homeimagen2.avif" alt="Hospital Image">
        </div>
    </div>
</div>
<div class="homecontainer2">
    <div class="keycontainer">
        <img src="../static/img/keyfeatures.jpg" alt="Keyimage">
        <div class="text-section">
        <h2>Key Features</h2>
        <p>Discover the key features of our hospital management system.</p>
        </div>
    </div>
    <div class="effcontainer">
        <img src="../static/img/efffeatures.jpg" alt="Effimage">
        <div class="text-section">
        <h2>Efficiency</h2>
        <p>Our system is designed to maximize efficiency in healthcare operations.</p>
        </div>
    </div>
    <div class="robcontainer">
        <img src="../static/img/robfeatures.jpg" alt="Robimage">
        <div class="text-section">
        <h2>Robustness</h2>
        <p>Experience the robustness and reliability of our solutions.</p>
        </div>
    </div>
</div>


<!-- services -->

<div class="services">
    <div class="services-content">
        <div class="title-services">
            <h2>SERVICES</h2>
        </div>
        <div class="services-text">
            <h2>From routine check ups and preventive care to complex surgical procedures and specialized treatments, our hospital offers a wide range of medical services to cater to all your healthcare needs.</h2>
        </div>
        <div class="container-services">
            <div class="content-container-services">
                <div class="pediatric-care">
                    <img src="../static/img/pediatricimg.png" alt="pediatric-img">
                    <h2>PEDIATRIC CARE</h2>
                    <h3>Our dedicated pediatric department provides comprhensive care for children, ensuring their wellbeing and promoting healthy growth and development</h3>
                </div>
                <div class="oncology-services">
                    <img src="../static/img/oncologyimg.png" alt="oncology-img">
                    <h2>ONCOLOGY SERVICES</h2>
                    <h3>Our oncology team utilizes the lastest advancements in cancer treatment to deliver personalized care and support for patients and their families</h3>
                </div>
                <div class="rehabilitation-services">
                    <img src="../static/img/rehabilitationimg.png" alt="rehabilitation-img">
                    <h2>REHABILITATION SERVICES</h2>
                    <h3>Our state of the art rehabilitation facilities and experienced therapists help patients regain their mobility, independence, and quality of life</h3>
                </div>
                <div class="geriatric-care">
                    <img src="../static/img/geriatricimg.png" alt="geriatric-img">
                    <h2>GERIATRIC CARE</h2>
                    <h3>Our geriatric care program is designed to meet the unique healthcare needs of older adults, promoting healthy aging and enhancing their quality of life</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- footer -->

<div class="footer">
    <div class="homecontent">
        <div class="footer-section1">
            <img src="../static/img/copyrightmedical.png" alt="footerimage">
            <div class="footer-copyright">
                <h2>© 2024 SGIH.</h2>
            </div>
        </div>
        <div class="footer-section2">
            <div class="text-section2">
                <!-- se puede cambiar por <a href>... -->
                <h2>Quick Links</h2>
                <h3>Home</h3>
                <h3>About</h3>
                <h3>Services</h3>
                <h3>Contact</h3>
            </div>    
        </div>
        <div class="footer-section3">
            <div class="text-section3">
                <h2>Contact With Us</h2>
                <h3>Facebook</h3>
                <h3>Twitter</h3>
                <h3>Instagram</h3>
                <h3>LinkeDin</h3>
            </div>    
        </div>
        <div class="footer-section4">
            <div class="text-section4">
                <h2>Legal</h2>
                <h3>Privacy</h3>
                <h3>Terms</h3>
                <h3>Cookies</h3>
                <h3>Sistemap</h3>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}