{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Document</title>
</head>
<body>

    {% block content %}
{##}
{#    <h1>LOGIN</h1>#}
{#    {{ error }}#}
{#    <form action="/login/" method="POST" >#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button>#}
{#            SignIn#}
{#        </button>#}
{#    </form>#}
<div class="contenedor" id="contenedor">
    <div class="form-contenedor sign-up">
        <form>
            <h1 id="loginh1">Create Account</h1>
            <span>Or use your email for registration</span>
            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
            
            <!-- AñadeCheckbox -->
            <label for="terms" class="checkbox-contenedor">
                <input type="checkbox" id="terms" required />
                <span class="checkmark"></span>
                I agree to the terms and conditions
            </label>
            
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-contenedor sign-in">
        <form>
            <h1 id="loginh1">Sign In</h1>
            <span>or use your email</span>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <a href="#">Forget Your Password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="toggle-contenedor">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Welcome!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>


    <script src="../static/js/script.js"></script>
    {% endblock %}
</body>

</html>