/*Fuente que se utilizara para la app de CRUD*/
/*Fuente que se utilizara para la app de CRUD*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url("../img/1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5); /* Esto puede ayudar a la visibilidad del contenido */
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.content {
    clear: both;
    padding: 20px;
    margin-top: 150px; /* Ajusta este valor según la altura de tu header */
    padding-top: 20px; /* Añade un poco de espacio adicional en la parte superior */
}

