{# Carga de los elementos estáticos de la página #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django CRUD Application</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/" class="logo">
                <img src="{% static 'img/blanco.png' %}" alt="12k" width="60" height="55">
            </a>
        </div>
        <div>
            <nav class="navbar">
                <a href="/">
                    <ion-icon name="home-outline"></ion-icon>
                    <span>Home</span>
                </a>
                <a href="/">
                    <ion-icon name="telescope-outline"></ion-icon>
                    <span>About</span>
                </a>
                {% if user.is_authenticated %}
                    <a href="/tasks">
                        <ion-icon name="alert-circle-outline"></ion-icon>
                        <span>Task</span>
                    </a>
                    <a href="{% url 'tasksCompleted' %}">
                        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
                        <span>Task Completed</span>
                    </a>
                    <a href="/task/create/">
                        <ion-icon name="create-outline"></ion-icon>
                        <span>Create Task</span>
                    </a>
                {% else %}
                    <a href="/signup">
                        <ion-icon name="person-add-outline"></ion-icon>
                        <span>Register</span>
                    </a>
                    <a href="/login">
                        <ion-icon name="log-in-outline"></ion-icon>
                        <span>Login</span>
                    </a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="/logout">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <span>Log Out</span>
                    </a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>


   
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
