<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h1>Home</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio voluptatum itaque atque similique veritatis officiis repudiandae error, molestias soluta, ullam saepe rem tempore et asperiores, natus sequi consequatur eveniet explicabo!
    Minima ipsa distinctio nihil praesentium ab molestiae aut magnam corporis labore ipsam voluptatem aliquid laborum tempore obcaecati non mollitia est nisi, sit inventore cum. Aut totam eum ipsum incidunt quisquam?
    Nemo dolores dolorum ex numquam tenetur exercitationem consequuntur cum adipisci ad blanditiis, minus maiores commodi reprehenderit corporis iusto assumenda recusandae id, dolor minima error ut harum! Laborum quam provident a?
    Laboriosam magni voluptatibus quo nisi autem ipsum consequuntur velit quae corporis totam eum a molestiae maxime repudiandae, aspernatur fugit hic tenetur iure saepe eveniet corrupti, voluptatem explicabo harum dolores. Odio.
    Iusto dolores assumenda beatae iure. Saepe laborum ullam accusantium non doloribus, ipsam molestias eaque atque cupiditate unde, error vero aliquam deserunt inventore dolor ut iure architecto iste quis soluta. Ab.</p>
    {% endblock %}
    
</body>
</html>