<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task detail</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

        <h1>{{ task.title }}</h1>
        
        {{ errorMessage }}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>
                Update!
            </button>
        </form>

        <form action="{% url 'completedTask' task.id %}" method="POST">
        {% csrf_token %}
            <button>
                Complete
            </button>
        </form>
        
        <form action="{% url 'deleteTask' task.id %}" method="POST">
        {% csrf_token %}
            <button>
                Delete
            </button>
        </form>



    {% endblock %}


</body>
</html>