<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        
        <h1>Tareas Pendientes</h1>

    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'taskDetails' task.id %}">
                    {% if task.important %}
                        <strong>{{ task.title }}</strong>
                        {% else %}
                        {{ task.title }}
                    {% endif %}
                    <p>{{ task.description }}</p>
                    <p>Hecho por {{ task.user.username }}</p>
                    <p>{{ task.important }}</p>
                    <p>{{ task.dateCompleted|date:'M j Y:i' }}</p>
                </a>
            </li>
        {% endfor %}

    </ul>


    {% endblock %}
</body>
</html>