/*Fuente que se utilizara para la app de CRUD*/
/*Fuente que se utilizara para la app de CRUD*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background: url("../img/1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}

/*  animaciones botones */

button {
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }


button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }


#loginh1 {
    color:#000 !important;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5); /* Esto puede ayudar a la visibilidad del contenido */
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.content {
    clear: both;
    padding: 20px;
    margin-top: 150px; /* Ajusta este valor según la altura de tu header */
    padding-top: 20px; /* Añade un poco de espacio adicional en la parte superior */
}


/*login parte despues de body*/

.contenedor {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.contenedor p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.contenedor span {
    font-size: 12px;
    text-decoration: none;
    margin: 15px 0 10px;
    color:#333;
}

.contenedor a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

/* Estilos generales para el label de checkbox */
.checkbox-contenedor {
    display: flex;
    align-items: center; /* Centra verticalmente la checkbox y el texto */
    font-size: 13px;
    color: #333;
    cursor: pointer;
    user-select: none;
    margin: 10px 0;
    position: relative;
    padding-left: 35px;
    line-height: 50px; /* Ajuste de la altura de línea para alinear el texto */
}

/* Ocultar la checkbox original */
.checkbox-contenedor input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Personalizar la checkbox */
.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 4px;
}

/* Efecto al pasar el mouse sobre la checkbox */
.checkbox-contenedor:hover input ~ .checkmark {
    background-color: #b3b3b3;
}

/* Estilos para la marca de verificación dentro de la checkbox */
.checkbox-contenedor input:checked ~ .checkmark {
    background-color: #fff;
}

/* Símbolo de verificación */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-contenedor input:checked ~ .checkmark:after {
    display: block;
}

/* Estilos para el símbolo de verificación */
.checkbox-contenedor .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.contenedor button {
    background-color: #3498db;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.contenedor button.hidden {
    background-color: #3498db;

    
}

.contenedor form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.contenedor input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-contenedor {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    margin: 0;
    left: 0;
    width: 50%;
    z-index: 2;
}

.contenedor.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.contenedor.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-contenedor {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.contenedor.active .toggle-contenedor {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #3498db;
    height: 100%;
    background: linear-gradient(to right, #45b0de, #07a2e9);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.contenedor.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.contenedor.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.contenedor.active .toggle-right {
    transform: translateX(200%);
}
